<h2 id="user-home">What would you like to do today?</h2>
<div class="centered-form">
Current balance: <%= "$%.2f" % @user.balance %>
<ul class='happybuttons'>
	<li><%= link_to "Add a Payee", new_payees_path %></li>
	<li><%= link_to "See All Payees", payees_path %></li>
	<li><%= link_to "See Activity", activities_path %></li>
	<li><%= link_to "Make a Deposit", activities_deposit_path %></li>
	<li><%= link_to "Make a Payment", activities_payment_path %></li>
</ul>
</div>