<table class="activity-table">
<thead>
<tr>
  <th>Date</th>
  <th>Type</th>
  <th>Description</th>
  <th>Amount</th>
</tr>
</thead>
<tbody>
<% sum = 0 %>
<% @activities.each do |activity| %>
	<tr>
	  <td><%= activity.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= activity.kind %></td>
    <td><%= activity.desc %></td>
    <td class="alignright <%= "debt" if activity.amount < 0 %>"><%= "$%.2f" % activity.amount %></td>
    <% sum += activity.amount %>
  </tr>
<% end %>
</tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td>Balance:</td>
    <td class="alignright"><%= "$%.2f" % sum %></td>
  </tr>
</tfoot>
</table>