<!DOCTYPE html>
<html>
<head>
  <title>Citylink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	Citylink
</header>
<nav>
  <% if !session[:user_id] %>
    <%= link_to "New User", new_user_path %>
    <%= link_to "Sign In", new_session_path %>
  <% end %>
  <% if session[:user_id] %>
	  <%= link_to "Home", user_path %>
	  <%= link_to "Logout", session_path, method: :delete %>
  
      <a style="color: black">Welcome, <%= session[:username] %>!</a>
  <% end %>
</nav>
<%= yield %>

</body>
</html>
