<!DOCTYPE html>
<html>
<head>
  <title>Citylink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	Citylink
</header>
<nav>
	<%= link_to "New User", new_user_path %>
  <%= link_to "Home", user_path %>
  <%= link_to "Logout", session_path, method: :delete %>
	
</nav>
<%= yield %>

</body>
</html>
